html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    min-height: 100%;
}

body {
    background-image: url(../IMG/taustakuva.jpg);
    height: 100%;
    width: 100%;
    -webkit-background-position: center;
    -moz-background-position: center;
    -o-background-position: center;
    background-position: center;
    -webkit-background-repeat: no-repeat;
    -moz-background-repeat: no-repeat;
    -o-background-repeat: no-repeat;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



h1 {
    margin: 0;
    color: white !important;
    font-family: 'Montserrat', sans-serif !important;
}

h2 {
    color: white !important;
    font-family: 'Montserrat', sans-serif !important;
}

.aloitus {
    min-height: 100%;
}

.otsikko {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    margin: 0 !important;
}

.tiimienkeskitys {
    padding-right: 20px;
}



.col {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0;
}

#linja {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.fa {
    color: aquamarine;
    font-size: 15px !important;
    padding: 6px;
    cursor: pointer;

}

ol li {
    padding-top: 2px;
}

.suora {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}


.lisaa {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.noppa {
    padding: 10px;
}

button {
    border-radius: 28px !important;
    color: white !important;
    border: inherit;
    background-image: linear-gradient( to top, #F18D9E, #F52549);
    padding: 7px 15px 7px 15px;
}

.btn-primary {
    border-radius: 28px !important;
    color: white !important;
    border: inherit;
    background-image: -webkit-linear-gradient(to bottom, #eb94d0, #2079b0);
    background-image: -moz-linear-gradient(to bottom, #eb94d0, #2079b0);
    background-image: -ms-linear-gradient(to bottom, #eb94d0, #2079b0);
    background-image: -o-linear-gradient(to bottom, #5BC8AC, #2079b0);
    background-image: linear-gradient(to bottom, #5BC8AC, #2079b0);
}

#ykkonen {
    display: none;
}

#ykkonen1 {
    display: none;
}

#ykkonen2 {
    display: none;
}

#ykkonen3 {
    display: none;
}

#ykkonen4 {
    display: none;
}

#ykkonen5 {
    display: none;
}

#ykkonen6 {
    display: none;
}

#ykkonen7 {
    display: none;
}

#ykkonen8 {
    display: none;
}

#ykkonen9 {
    display: none;
}

#ykkonen10 {
    display: none;
}

#ykkonen11 {
    display: none;
}

#ykkonen12 {
    display: none;
}

#ykkonen13 {
    display: none;
}

@media (max-width: 767px) {
    h1 {
        font-size: 25px !important;
    }

    h2 {
        font-size: 20px !important;
    }
}
